<div #target class="container">
  <!-- Example row of columns -->
  <div class="row">
    <!-- <div class="col-md-4">
      <div class="card huette">
        <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/green-shopper/1049/settings.png" alt="Card image cap">
        <div class="card-body">
          <div style="text-align:center">
              <a class='btn buchenBtn' routerLink="./data" routerLinkActive="active">
                    <span class="fa fa-cogs"></span> Datenverwaltung
              </a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-4">
        <div class="card huette">
          <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/108/108370.png" alt="Card image cap">
          <div class="card-body">
            <div style="text-align:center">
                <a class='btn buchenBtn' routerLink="./invoices" routerLinkActive="active">
                      <span class="fa fa-file"></span> Rechnungen
                </a>
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <div class="card huette">
        <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" alt="Card image cap">
        <div class="card-body">
          <div style="text-align:center">
              <a class='btn buchenBtn' routerLink="./bookings" routerLinkActive="active">
                    <span class="fa fa-calendar"></span> Buchungskalender
              </a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card huette">
        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/1234/1234190.svg" alt="Card image cap">
        <div class="card-body">
          <div style="text-align:center">
              <a class='btn buchenBtn' routerLink="./closeddays" routerLinkActive="active">
                    <span class="fa fa-lock"></span> Sperrtage
              </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</div> <!-- /container -->