a.btn {
	color: white;
	margin-right: 3px;
}

#scrollbtn:hover {
    color: white;
}

a.buchenBtn {
    background-color: #191970;
}

a.buchenBtn:hover {
  color: white;
  background-color: #46468c;
}

a.detailBtn {
    background-color: #d35400;
}

a.detailBtn:hover {
    color: white;
    background-color: #d76519;
}

.card-img-top {
    position: relative;
    float: left;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.jumbotron h1 {
    font-size: calc(1em + 4vw);
}