<div class="container" style="text-align:center">
	<div class="row">
        <div class="col-sm-12 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Anfrage erfolgreich gespeichert.</h2>
        <h3>Vielen Dank!</h3>
        <p style="font-size:20px;color:#5C5C5C;">Die Anfrage wurde erfolgreich übermittelt.</p>
        <p style="font-size:20px;color:#5C5C5C;">Sie werden in Kürze ein Angebot zu Ihrer Anfrage erhalten.</p> 
        <p style="font-size:20px;color:#5C5C5C;">Sie können die Seite jetzt verlassen.</p>        
        <a href="/dashboard" class="btn btn-success"> Zurück zur Übersicht </a>
    <br><br>
        </div>
        
	</div>
</div>