ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.buttonPanel {
    text-align: center;
}

.buttonPanel .btn {
    margin: 15px;
}


.bookingCalendar {
    margin: 100px auto;
    margin-bottom: 15px;
    margin-top: 0px;
    width: 100%;
    min-width: 300px;
    cursor: default;
}

/* Month header */
.month {
    padding: 40px 10px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    letter-spacing: 3px;
}

.month .mon {
    font-size: 40px;
    text-transform: uppercase;
}

.month .yea {
    font-size: 18px;
}


/* Previous button inside month header */
.month .prev {
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:20px;
    padding-right: 20px;
}

.month .prev:hover {
    background-color: #16a287;
    color: white;
    border-radius: 50%;
}

/* Next button */
.month .next {
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:20px;
    padding-right: 20px;
}

.month .next:hover {
    background-color: #16a287;
    color: white;
    border-radius: 50%;
}


.closedday {
    color: white !important;
    background-color: red !important;
}


.xbutton {
    background-color: transparent;
    font-size: 12px;
    width: 100%;
    border: none;
    color: black;
    float: right;
    text-align: center;
    border-radius: 5px;
}

.xbutton:hover {
    background-color: #e17055;
    color: white;
    cursor: pointer;
}


/* table ----------------------------------------------------- */
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 80px;
    max-width: 100%;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-weight: 100;
    min-width: 20px;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    /* border-top-left-radius:3px; */
}


th:last-child {
    /* border-top-right-radius:3px; */
    border-right:none;
}
   
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    text-align: center;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


tr:hover td {
    background:#4E5066;
    color:#FFFFFF !important;
    border-top: 1px solid #22262e;
}

tr:hover .xbutton {
    color:#FFFFFF !important;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom: 1px solid #9ea7af;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    /* border-bottom-left-radius:3px; */
}

tr:last-child td:last-child {
    /* border-bottom-right-radius:3px; */
}


td {
    background:#FFFFFF;
    vertical-align:middle;
    font-weight:300;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.roomHeading {
    text-align: left;
    font-weight: 600;
}

.roomName {
    text-align: left;
    font-weight: 600;
}

/* td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
} */

.tableDisplay {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .tableDisplay tr { 
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0;
      border: 1px solid rgba(3,3,3,0.2);
    }
    .tableDisplay td, th {
      min-height: 30px;
      flex: 1 1 150px;
      border: 0.5px solid rgba(3,3,3,0.2);
    }
  }